.suggestionDropdown {
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 4px 0;
}

.suggestionItem {
  min-height: 32px;
  padding: 5px 12px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  cursor: pointer;
}

.suggestionItem:hover {
  background-color: #f5f5f5;
}
.searchButton {
  background-color: #3db8f5;
  padding: 0 51px;
  height: 50px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  white-space: nowrap;
  flex-shrink: 0;
}

.searchButton:hover {
  background-color: #2da8e5;
  color: white;
}
